.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightcyan;
  height: 100vh;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid lightseagreen;
  border-radius: 50%;
  box-shadow: 0 0 20px rgb(104, 217, 255);
  width: 200px;
  height: 200px;
}

.btn {
  border: none;
  color: white;
  background-color: blueviolet;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.8rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgb(96, 24, 163);
}

.btn:active {
  background-color: rgb(165, 78, 247);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-start {
  border: none;
  color: white;
  background-color: rgb(34, 199, 34);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.btn-stop {
  border: none;
  color: white;
  background-color: rgb(255, 2, 2);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.btn-reset {
  border: none;
  color: white;
  background-color: rgb(138, 138, 138);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.dark-bg{
  background-color: rgb(1, 45, 45);
  color: white;
}
