.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightcyan;
    height: 100vh;
}

.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid lightseagreen;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(104, 217, 255);
    width: 200px;
    height: 200px;
}

